<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fas fa-users"></i> PERSONAL - SYSTEM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item crmNavlink">
                    <a class="nav-link active" aria-current="page" href="/">Dashboard</a>
                </li>
                <li class="nav-item crmNavlink">
                    <a class="nav-link" href="/cam">Online CAM</a>
                </li>
            </ul>
            <form class="d-flex me-5" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light crmNavSearch" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <button class="btn btn-primary"><a href="logout">LOGOUT</a></button>
        </div>
    </div>
</nav>