<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>
    <div style="margin:40vh 40vw;">
        <div>HOME PAGE</div>
        
    </div>


    <%- include('../partials/footer'); %>